.student-guide-content {
    padding: 16px;
  }
  
  .ion-card {
    margin: 8px;
  }
  
  .ion-card-header {
    background-color: #f4f4f4;
  }
  
  .ion-list {
    margin-top: 10px;
  }
  
  .ion-item {
    --background: transparent;
  }
  